*, 
*::before, 
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}

body {
  background-color: #251D41;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

canvas {
  display: block;
  max-width: 100%;
}

.level {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 4px;
  color: yellow;
  font-weight: bold;
}
