*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #251D41;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

canvas {
  display: block;
  max-width: 100%;
}

.message {
  position: fixed;
  inset: 0;
  display: flex;
  flex-flow: column nowrap;
  place-items: center;
  place-content: center;
  gap: 1rem;

  color: #fff;
  background: radial-gradient(rgba(37, 29, 65, .8), rgba(37, 29, 65, 0.01))
}


.level {
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 4px;
  color: yellow;
  font-weight: bold;
}

.game .container {
  position: fixed;
  inset: 0;

  display: flex;
  place-content: center;
  place-items: center;
}

.game-popup {
  margin-top: 20rem;
  text-align: center;
}

.game-rounds {
  position: fixed;
  top: 1rem;
  left: 1rem;
  color: yellow;
}

button {
  width: 180px;
  height: 40px;
}
