*, 
*::before, 
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}

body {
  background-color: black;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.instructions {
  display: grid;
  place-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .3s ease;
}
.instructions span {
  pointer-events: none;
  color: #fff;
}
#level {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 4px;
    color: yellow;
    font-weight: bold;
}